* {
  font-family: 'OpenSans-Regular';
  font-size: 10pt;
}
QCommandLinkButton {
  font-size: 13pt;
}
QLineEdit, QMessageBox QTextEdit {
  font-family: 'Monospace';
  font-size: 9pt;
}
#label_logo_2 {
  font-family: 'Roboto';
  font-size: 28pt;
  font-weight: bold;
}
#output_display, #plainTextEdit_log {
  background-color: black;
  color: white;
  font-family: 'Monospace';
  font-size: 9pt;
}
