#! /bin/bash
#SBATCH -p publicgpu
#SBATCH -n 1
#SBATCH -t 2:00:00
#SBATCH --gres=gpu:1
#SBATCH --job-name=ScoreFlow
#SBATCH -o slurm.out
#SBATCH -e slurm.err

#
# Configuration
#
# Make sure you load all the necessary modules for your AMBER installation.
# Don't forget the CUDA modules
module load compilers/intel15
module load libs/zlib-1.2.8
module load mpi/openmpi-1.8.3.i15
module load compilers/cuda-8.0

# Path to amber.sh replace with your own
source ~/software/amber16_publicgpu/amber.sh


# You must always provide the HEADER for SLURM and PBS, because this template may not work for you.

