# Path to PLANTS executable (not required for mazinger)
plants_exec="/home/cbouy/bin/PLANTS1.2_64bit"

# Path to SPORES executable, only needed for the PDB mode in ScoreFlow
spores_exec="/home/cbouy/bin/SPORES_64bit"

# Path to AutoDock Vina executable (not required for mazinger)
vina_exec="/home/cbouy/software/autodock_vina_1_1_2_linux_x86/bin/vina"

# Path to Utilities24 folder of AutoDockTools (in MGLTools)
adt_u24="/home/cbouy/software/MGLTools/MGLTools-1.5.6/MGLToolsPckgs/AutoDockTools/Utilities24/"

# Path to GNU Parallel executable, needed to run procedures in parallel locally.
parallel="/home/cbouy/software/parallel/bin/parallel"

# Path to amber.sh
amber="/home/cbouy/software/amber16/amber.sh"

# Run Amber MD with sander or pmemd
amber_md="pmemd"