# Path to PLANTS executable (not required for mazinger)
plants_exec=""

# Path to SPORES executable, only needed for the PDB mode in ScoreFlow
spores_exec=""

# Path to AutoDock Vina executable (not required for mazinger)
vina_exec=""

# Path to Utilities24 folder of AutoDockTools (in MGLTools)
adt_u24=""

# Path to GNU Parallel executable, needed to run procedures in parallel locally.
parallel=""

# Path to amber.sh
amber=""
