# Path to PLANTS executable (not required for mazinger)
PLANTS="/home/cbouy/bin/PLANTS1.2_64bit"

# Path to SPORES executable, only needed for the PDB mode in ScoreFlow
SPORES="/home/cbouy/bin/SPORES_64bit"

# Path to AutoDock Vina executable
VINA="/home/cbouy/software/autodock_vina_1_1_2_linux_x86/bin/vina"

# Path to Utilities24 folder of AutoDockTools (in MGLTools)
ADT="/home/cbouy/software/MGLTools/MGLTools-1.5.6/MGLToolsPckgs/AutoDockTools/Utilities24/"

# Path to Parallel executable, needed to run procedures in parallel locally.
parallel="/home/cbouy/software/parallel/bin/parallel"

# Path to amber.sh
amber="/home/dgomes/software/amber16/amber.sh"
