adt_u24="/home/dgomes/MGLTools-1.5.6/MGLToolsPckgs/AutoDockTools/Utilities24/"
amber="/home/dgomes/software/amber16/bin//cpptraj/amber.sh"
amber_md="pmemd"
datetime="20180110121618"
gaussian_exec=""
parallel="/usr/bin/parallel"
plants_exec="/home/dgomes/software/plants//PLANTS1.2_64bit"
run_folder="/home/dgomes/github/ChemFlow"
spores_exec="/home/dgomes/software/plants//SPORES_64bit"
vina_exec="/home/dgomes/software/autodock_vina_1_1_2_linux_x86/bin//vina"
