############################
# Config file for DockFlow #
############################
# Absolute path to receptor's mol2 file
rec=""
# Absolute path to ligands file/folder
lig_input=""
# Output folder
output_folder=""
# Number of docking poses to generate
poses_number=""
# Scoring function: vina, chemplp, plp or plp95
scoring_function=""
# xyz coordinates of the center of the sphere/grid binding site, separated by a space
bs_center=""

##########
# PLANTS #
##########
# Radius of the spheric binding site in Angstrom
bs_radius=""
# Search speed : 1, 2 or 4. Default: 1
speed=""
# Number of ants. Default : 20
ants=""
# Evaporation rate of pheromones. Default : 0.15
evap_rate=""
# Iteration scaling factor. Default : 1.00
iteration_scaling=""

########
# Vina #
########
# Size of the sphere along the x, y and z axis in Angstrom, separated by a space
bs_size=""
# Exhaustiveness of the global search. Default : 8
exhaustiveness=""
# Max energy difference (kcal/mol) between the best and worst poses displayed. Default : 3.00
energy_range=""

###################
# Optionnal input #
###################
# Run on this machine (default), in parallel, or on PBS
# local, parallel, PBS
run_mode=""
# If parallel is chosen, please specify the number of cores to use
core_number=""

# Add a structural water molecule for PLANTS, centered on an xyz sphere and moving in a radius
# Absolute path to water molecule
water_molecule=""
# xyz coordinates and radius of the sphere, separated by a space
water_molecule_definition=""
