# Type of rescoring :
  # Virtual Screening results from DockFlow : ALL
  # A selection of ligands from DockFlow's VS results : BEST
  # Crystal structure from a PDB file : PDB
mode=""

# Scoring function : chemplp, plp, plp95, vina, PB3, GB5, GB8
scoring_function=""

####################
# Additional input #
####################

# If the PDB mode is chosen, absolute path to the complexes folder
pdb_folder=""

# If the ALL or BEST modes are chosen :
# Path to the receptor : PDB file for MMPBSA and MMGBSA, MOL2 file for chemplp, plp, and plp95, PDB or MOL2 for vina
rec=""

# By default, ScoreFlow will assume that you are running from the same folder that contains your lig, rec and docking results directories.
# This way, depending on the mode you chose (ALL or BEST ), it will automatically find the location of your mol2 files.
# If necessary, you can overwrite the path to a custom "docking" or "input_files/lig" folder here.
folder=""

# If mmpbsa or mmgbsa scoring function is chosen :
# base calculations on a single snapshot from the docking pose (with or without minimization) : 1F
# or on a quick implicit solvent (GB) MD simulation : MD
pb_method=""
# Amber mask of atoms needed to be stripped from the SOLVATED complex to make the DRY complex topology file
strip_mask=""
# Amber mask of atoms needed to be stripped from COMPLEX to create LIGAND
lig_mask=""
# Minimization or simulation length :
# If the 1 frame approach was chosen :
  # Number of minimization steps prior to MMPBSA/MMGBSA calculations. Leave empty for no minimization
  min_steps=""
  # Restraint applied to your selection, in kcal/mol/A2
  min_energy=""
    # If a minimization is made, apply a simple backbone restriction, or use a custom mask : backbone, custom
    min_type=""
      # If backbone, for resid x to y of all chains of the receptor, write x-y.
      # If custom, specify residues or atoms to be tethered in their motion using NAB atom expression (see amber manual).
      min_mask=""
# If the quick MD simulation approach was chosen :
  # Run PMEMD on GPU (true or false)
  gpu=""
  # Length of the production, in ps
  md_time=""


###################
# Optionnal input #
###################

# Add a structural water molecule, centered on an xyz sphere and moving in a radius
# Absolute path to water molecule
water=""
# For Chemplp, plp and plp95 : xyz coordinates and radius of the sphere, separated by a space
water_xyzr=""

# For chemplp, plp, and plp95 :
# User defined parameters, for PLANTS
PLANTS_user_parameters=""

# Run on this machine (default), in parallel, or on mazinger
# local, parallel, mazinger
run_mode=""
  # If parallel is chosen, please specify the number of cores available
  core_number=""
  # If mazinger is chosen, please specify the maximum number of jobs to submit
  # If you leave this variable empty, ScoreFlow will submit 1 job per docking pose
  max_submissions=""
