# Absolute path to receptor's mol2 file
rec="/data/share/exchange/CB/ChemFlow/test_files/rec/hiv-1_protease.mol2"

# Absolute path to ligands folder
lig_folder="/data/share/exchange/CB/ChemFlow/test_files/lig"

# Binding site :
# xyz coordinates of the center of the sphere, separated by a space
bs_center="-10.482000    17.804001    28.052000"

# Radius of the sphere in Angstrom
bs_radius="15"

# Number of docking poses to generate
poses_number="10"

# Optionnal input ------------------------------------------------------------------------------------------------------

# Add a structural water molecule, centered on an xyz sphere and moving in a radius
# Absolute path to water molecule
water=""
# xyz coordinates and radius of the sphere, separated by a space
water_xyzr=""

# Run on this machine (default), in parallel, or on mazinger
# local, parallel, mazinger
run_mode="parallel"

#If parallel is chosen, please specify the number of cores available
core_number="8"

