# Type of rescoring : 
  # Virtual Screening results from DockFlow : VS
  # A selection of ligands from DockFlow's VS results : BEST
  # Crystal structure from a PDB file : PDB
mode="VS"

# Scoring function : mmgbsa, mmpbsa, chemplp, plp, plp95, vina
scoring_function="vina"

#######################################################################################################################
# Additional input
#######################################################################################################################

# If the PDB mode is chosen, absolute path to the complexes folder
PDB_folder=""

# If the VS mode is chosen, we will assume that you are launching ScoreFlow from the same folder that contains lig,rec, and output directories from DockFlow.
# So the following variable should stay empty, but you can state otherwise here :
VS_folder="/data/share/exchange/CB/ChemFlow/test_files/output/VS"

# If the BEST mode is chosen, don't forget to configure and launch the ligfind.bash script in ChemFlow/Tools before running this.
# We will assume that you are launching ScoreFlow from the same folder that contains lig,rec, and output directories from DockFlow.
# So the following variable should stay empty, but you can state otherwise here :
BEST_folder=""

# If mmpbsa or mmgbsa scoring function is chosen :
# which method is going to be used : PB3 or GB8
PB_method=""
# Amber mask of atoms needed to be stripped from the solvated complex to make the dry complex topology file
strip_mask=""
# Amber mask of atoms needed to be stripped from COMPLEX to create LIGAND
lig_mask=""
# Number of minimization steps prior to MMPBSA/MMGBSA calculations. Leave empty for no minimization
min_steps=""
# Restraint applied to your selection, in kcal/mol
min_energy=""
  # If a minimization is made, apply a simple backbone restriction, or use a custom mask : backbone, custom
  min_type=""
    # If backbone, for resid x to y of all chains of the receptor, write x-y.
    # If custom, specify residues or atoms to be tethered in their motion using NAB atom expression (see amber manual).
    min_mask=""

#######################################################################################################################
# Optionnal input
#######################################################################################################################

# Add a structural water molecule, centered on an xyz sphere and moving in a radius
# Absolute path to water molecule
water=""
# xyz coordinates and radius of the sphere, separated by a space
water_xyzr=""

# Run on this machine (default), in parallel, or on mazinger
# local, parallel, mazinger
run_mode="parallel"

#If parallel is chosen, please specify the number of cores available
core_number="8"

